/*
1. <h1 style="">
2. <h1 id=" #id ">
3. <h1 class=" .class ">
4. <h1>
*/

border-radius: 5px;

/*CSS Box - Margin, Border, Padding
margin: spacing between container - tops and bottoms combine into one single margin 
border: the boundary of the container
padding: spacing inside of my container


