div {
  border: 1px solid black;
  padding: 16px;
  margin: 16px;
  display: block;
}

.inline-block {
  display: inline-block;
  width: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.table-cell {
  display: table-cell;
}

/* table-cell don't matter any more because of css grids
*/

.column {
  width: 33.333%;
  
}



